.pianoWrapper {
  margin: 0 auto;
  display: none;
}

ul {
   margin-top: 20px;
   text-align: center;
}

li {

  &.whiteKey{
    background-color: #fff;
    display: inline-block;
    font-size: 1.5em;
    border: 0.75px solid black;
    width: 75px;
    margin-right: -3.9px;
    height: 450px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0 0 5px #666;

    padding: 2px;

    // &:active {
    //   box-shadow: inset 0 0 12px #666;
    //   background-color: tomato;
    // }
  }

  &.lightUp {
    box-shadow: inset 0 0 12px #666;
    background-color: tomato;
    // background-color: black
  }

  

  &.blackKey {
    display: inline-block;
    width: 45px;
    height: 275px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    left: -25px;
    top: -177.5px;
    //box-shadow: inset 0 0 5px white;
    border: 1px solid grey;
    //border-bottom: 10px solid red;

    &:active {
      // border-bottom: 5px solid black;
      // top: -179px + 4;
      background-color: tomato;  
    }
  }
  
  &.afterBlack {
    margin-left: -51px;
  }

}


